.login-container{
    position: relative;
    height: 480px; /*Altura*/
    width: 768px; /*Largura*/
    border-radius: 12px; /*Bordas*/
    box-shadow: 0 5px 20px #A0A0A0; /*Sombra*/
    overflow: hidden; /*Esconder tudo que tiver fora dele*/
}

@media (max-width: 768px){
    .login-container{
        width: 100vw;
        height: 100vh;
        box-shadow: none;
    }
}

@media (max-width: 480px){
    .login-container{
        width: 100vw;
        height: 100vh;
        box-shadow: none;
    }
}